name: Tests

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  tests:
    name: embed4d (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup env
        run: |
          pip install -e ".[test]"

      - name: Build coverage file
        run: |
          pip install pytest pytest-cov
          set -o pipefail
          pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov-report=xml --cov=./ --capture=tee-sys tests | tee pytest-coverage.txt

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          title: embed4d Coverage Report
          badge-title: embed4d Coverage
          hide-badge: false
          hide-report: false
          create-new-comment: false
          hide-comment: false
          report-only-changed-files: false
          remove-link-from-badge: true
          unique-id-for-comment: python3.10
          junitxml-path: ./pytest.xml
          junitxml-title: embed4d Xml Summary Title
